/* *{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
    font-family: 'Montserrat';
} */

@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto/1584537932815-Roboto-Bold.ttf'),
    url('../fonts/Roboto/1584537932594-Roboto-BoldItalic.ttf'),
    url('../fonts/Roboto/1584537932594-Roboto-Italic.ttf'),
    url('../fonts/Roboto/1584537932594-Roboto-Light.ttf'),
    url('../fonts/Roboto/1584537932707-Roboto-LightItalic.ttf'),
    url('../fonts/Roboto/1584537932707-Roboto-Medium.ttf'),
    url('../fonts/Roboto/1584537932707-Roboto-MediumItalic.ttf'),
    url('../fonts/Roboto/1584537932758-Roboto-Regular.ttf'),
    url('../fonts/Roboto/1584537932759-Roboto-Thin.ttf'),
    url('../fonts/Roboto/1584537932759-Roboto-ThinItalic.ttf'),
    url('../fonts/Roboto/1584537932815-Roboto-Black.ttf'),
    url('../fonts/Roboto/1584537932815-Roboto-BlackItalic.ttf');

}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/1584538825017-Montserrat-Black.ttf'),
    url('../fonts/Montserrat/1584538824370-Montserrat-ExtraLightItalic.ttf'),
    url('../fonts/Montserrat/1584538824370-Montserrat-Italic.ttf'),
    url('../fonts/Montserrat/1584538824370-Montserrat-Light.ttf'),
    url('../fonts/Montserrat/1584538824580-Montserrat-LightItalic.ttf'),
    url('../fonts/Montserrat/1584538824580-Montserrat-Medium.ttf'),
    url('../fonts/Montserrat/1584538824580-Montserrat-MediumItalic.ttf'),
    url('../fonts/Montserrat/1584538824881-Montserrat-Regular.ttf'),
    url('../fonts/Montserrat/1584538824881-Montserrat-SemiBold.ttf'),
    url('../fonts/Montserrat/1584538824882-Montserrat-SemiBoldItalic.ttf'),
    url('../fonts/Montserrat/1584538825017-Montserrat-Thin.ttf'),
    url('../fonts/Montserrat/1584538825017-Montserrat-ThinItalic.ttf'),
    url('../fonts/Montserrat/1584538825119-Montserrat-BlackItalic.ttf'),
    url('../fonts/Montserrat/1584538825119-Montserrat-Bold.ttf'),
    url('../fonts/Montserrat/1584538825133-Montserrat-BoldItalic.ttf'),
    url('../fonts/Montserrat/1584538828193-Montserrat-ExtraBold.ttf'),
    url('../fonts/Montserrat/1584538828193-Montserrat-ExtraBoldItalic.ttf'),
    url('../fonts/Montserrat/1584538828193-Montserrat-ExtraLight.ttf');
    
    }
body{
    margin: 0px;
    font-family: 'Roboto',sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Montserrat',sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
input:focus{
    outline: none;
}
select:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}

/*Header*/

header{
    background-color: #d92950;
    border: #d92950 1px solid;
    position: fixed;
    width: 100vw;
    height: 2.0cm;
    z-index: 20;
}
header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navp{
    height: 2.0cm;
    margin-top: 0px;
}
.nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding-right: 25px;
}
.nav li{
    margin-right: 30px;
}
.nav li a{
    color: #fff;
    text-decoration: none;
    padding-right: 20px;
    font-size: 1rem;
    font-family: "roboto",sans-serif;
}
.nav li a:hover{
    text-decoration: underline white;
}
#logo{
    width: 80px;
    height: 50px;
    opacity: 1;
    margin-left: 20px;
}
.logo{
    margin-top: 10px;
}


/*section1*/

.section1{
    background-image :url("../img/section1/hero-background.jpg");
    background-size: cover;
    border: #d92950 1px solid;
}
#titre1{
    font-size: 5.5vw;
    line-height: 120%;
    font-weight: 900;
    margin-bottom: 4vh;
    color: #fff;
    text-align: center;
    margin-top: 100px;
}
#titre1 strong{
    color: yellow;
}
.btn1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.btn1 div{
    background-color: white;
    border-radius: 15px;
    border-width: 2px;
    padding: 15px 30px;
    margin: 15px;
    transition-property: background-color;
	transition-duration: 1s;
}
.btn1 div:hover{
    background-color:#d92950;
    color:#fff;
    border: white solid 2px;
}
.btn1 a{
    text-decoration: none;
    color: #d92950;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5;
    border-width: 2px;
}
.section1 p{
    text-align: center;
    color: white;
    margin-top: 50px;
    font-family: sans-serif,'Monserrat';
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}
.partenaire{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.partenaire ul{
    list-style-type: none;
}
.partenaire ul li{
    display: inline-block;
    text-align: center;
    margin: 50px;
}
.partenaire img{
    width: 40px;
    opacity: 0.5;
}

/*section2*/

.section2{
    background-color: #f1f0f3;
    color:#424345;
    border: 1px solid #f1f0f3;
    height: 760px;
}
#campusKDA{
    width: 725px;
    height: 525px;
    margin-left: -10px;
    position: relative;
    border-radius: 0px 20px 20px 0px;
}
#etudiant{
    width: 420px;
    height: 300px;
    position: relative;
    border-radius: 20px;
    bottom: 270px;
    right: -350px;
}
.secgen2{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
} 
.divd h2{
    font-size: 2.0rem;
    line-height: 48px;
    font-weight: 700;
    text-align: left;
}
.divimag{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 200px;
    align-content: center;
}
.divimag div{
    height: 144px;
    width: 400px;
    text-align: center;
}
.divimag p{
    font-size: 20px;
    font-weight: 400px;
}
#imgico{
    width: 50px;
    height: 90px;
    border-bottom:solid 2px #d92950;
} 



/*section3*/

.section3{
    background-color: #d92950;
    border: 1px solid #d92950 ;
    height: 550px;
    color: #fff;
}
.slide1{
    display: flex;
    flex-direction: row;
}
.secgen3{
    display: flex;
    flex-direction: column;
}
.secgen3 h2{
    text-align: center;
    margin-top: 100px;
    padding: 50px;
    font-size: 2.5rem;
    font-weight: 700;
}
.slide1 img{
    width: 100px;
    height: 90px;
    padding: 50px;
}

/*section4*/

.section4{
    height: 640px;
    background-color: #f1f0f3;
    border: 1px solid #f1f0f3;
}
.secgen4{
    margin-top: 100px;
}
.secgen4 h2{
    color: #180027;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
}
.blocgen4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.blocgen4 div{
    width: 600px;
    height: 280px;
    background-color: #fff;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}
.bloc41{
    border-top: 10px #ffe64d solid;
    text-align: center;
}

.bloc42{
    border-top: 10px #d92950 solid;
    margin-left: 50px;
    text-align: center;
}
.blocgen4 h3{
    color:#d92950 ;
    text-align: center;
    font-size: 28px;
    line-height: 33.6px;
}
.blocgen4 p{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4em;
}
.blocgen4 a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
    width: 300px;
    background-color: #d92950;
    border-radius: 15px;
    padding: 15px 30px;
    margin-top: 100px;
}

/*section5*/

.section5{
    background-color: #d92950;
    border: 1px solid #d92950 ;
    color: #fff;
    height: 850px;
}
.secgen5{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section5 h2{
    text-align: center;
    margin-top: 120px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}
.slide5{
    display: flex;
    flex-direction: row;
}
.slide5 div img{
    width: 330px;
    height: 413px;
    margin: 50px;
    border-radius: 15px;
}

/*section6*/

.secgen6{
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: #444547;
    height: 800px;
}
.section6 h2{
    margin-top: 100px;
    color: #424345;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
}
.bloc61{
    width: 600px;
    height: 450px;
}
.bloc62{
    width: 500px;
    height: 440px;
    background-color: #f1eff3;
    margin-left: 30px;
    border-radius: 0px 0px 10px 10px;
}
.blocgen6{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#tete{
    background-color: #e7004d;
    color: #fff;
    height: 50px;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}
.tete2{
    background-color: #3c1744;
    color: #fff;
    height: 50px;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}
.icon6{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #f1eff3;
    border-radius: 0px 0px 10px 10px;
    /* padding: 40px; */
    justify-items: center;
    grid-gap: 10px;
}
.listeb{
    background-color: #dfdce0;
    border-radius: 10px;
    width: 390px;
    height: 300px;
    margin: 50px;
    padding-left: 30px;
}
.listeb li{
    text-align: left;
    padding-top: 30px;
}
.iconify{
    color: #444547;
    margin-top: 20px;
}

/*section7*/

.section7{
    background-color: #ae3753;
    border: 1px solid #ae3753;
    color: #fff;
    height: 600px;
}
.secgen7{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.secgen7 a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
    height: 50px;
    width: 300px;
    background-color: #d92950;
    border-radius: 15px;
    padding: 15px 30px;
    margin-left: 800px;
}
.bloc72{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.bloc72 div{
    margin: 50px;
}
.bloc72 #bor{
    border: 2px solid #fff;
/*     width: 34px;
    height: 40px; */
    border-radius: 5px;
}
/* .ligne{
    display: flex;
    flex-direction: row;
} */
.gest{
    width: 70px;
    height: 70px;
}
.bloc72 span{
    font-size: 50px;
}
.bloc71 h2{
    margin-top: 50px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
}
#arrow{
    width: 50px;
    height: 25px;
}

/*section8*/
.section8{
    background-color: #f1f0f3;
    height: 800px;
}

.secgen8{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.bloc81{
    margin-top: 100px;
    width: 600px;
    height: 650px;
}
.bloc81 img{
    width: 570px;
    height: 200px;
}
.bloc81 span{
    color: #d92950;
}
.bloc81 h2{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: #424345;
}
.bloc81 p{
    font-size: 16px;
    line-height: 24px;
}
.bloc82{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 600px;
    height: 650px;
}
.bloc82 h3{

    color: #424345;
    font-size: 24px;
    line-height: 28.8px;
    text-align: left;
}
.bloc821{
    width: 250px;
    height: 280px;
    background-color: #fff;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
    

}
.bloc822{
    width: 250px;
    height: 280px;
    background-color: #fff;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
}
.bloc823{
    width: 250px;
    height: 280px;
    background-color: #fff;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
}
.bloc824{
    width: 250px;
    height: 280px;
    background-color: #fff;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
}
.bloc82 img{
    width: 50px;
    height: 50px;
}

/*section9*/

.section9{
    background-color: #111111;
    border:1px solid #111111;
    height: 355px;
    color: #fff;
}
.secgen9{
    display: flex;
    flex-direction: column;
}
.secgen9 h2{
    text-align: center;
    margin-top: 100px;
    font-size: 2.5rem;
    font-weight: 700;
}
.img9 a{
    margin: 15px;
}
.img9{
    margin-left: 650px;
    margin-top: 25px;
}

/*section10*/
.section10{
    height: 1070px;
}
.secgen10{
    width: 1200px;
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}
.blocinter{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.bloc101 h2{
    margin-top: 100px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #424345;
    text-align: center;
}
.bloc102 img{
    height: 250px;
    width: 280px;
    border-radius: 15px;
}
.bloc102{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.bloc103 div{
    width: 300px;
    height: 479px;
}
.bloc103{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

/*section11*/

.section11{
    background-color: #1d1b25;
    border:1px solid #1d1b25;
    color: #fff;
    height: 995px;
}
.secgen11{
    width: 1200px;
    height: 795px;
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}
.secgen11 h2{
    margin-top: 50px;
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 700;
    text-align: center;
}
.secgen11 p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
}
form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
strong a{
    color: #d92950;
    text-decoration: none;
}
.para a{
    color: #d92950;
    text-decoration: none;
}
.para{
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    font-size: 16px;
}
#btn11{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
    width: 250px;
    background-color: #d92950;
    border-radius: 15px;
    padding: 15px 30px;
    margin-top: 100px;
}
#inp{
    width: 570px;
    height: 38px;
}
#sel{
    width: 578px;
    height: 38px;
}
#selb{
    height: 38px;
    width: 1185px;
}
#message{
    width: 1180px;
    height: 70px;
}
.bloc111 div{
    margin-top: 10px;
    margin-bottom: 5px;
}
.bloc112 div{
    margin-top: 10px;
    margin-bottom: 5px;
}
.ajust{
    margin-top: 30px;
}
.bloc113 div{
    margin-top: 15px;
}
.secgen11 input::placeholder{
    font-size: 16px;
    padding-left: 5px;
    color: #495057;
    line-height: 24px;
    font-weight: 400;
    text-align: start;
}

/*footer*/
.foot{
    background-color: #313131;
    border:1px solid #313131;
    height: 670px;
    color: #fff;
}
.blocf1{
    height: 400px;
    width: 600px;
}
.blocf1 address{
    margin-bottom: 2rem;
    text-align: left;
    width: 570px;
    height: 235px;
    font-size: 1.4rem;
}
.blocf1 a{
    text-decoration: none;
    color: #d92950;
    font-size: 1.4rem;
    text-align: left;
}
.blocf1 li{
    margin-right: 20px;
}
.blocf1 li i{
    font-size: 30px;
    text-align: justify;
}
.blocf2{
    height: 400px;
    width: 600px;
    font-size: 1.4rem;
}
.blocf2 form{
    display: flex;
    flex-direction: row;
    height: 58px;
}
form #textb{
    width: 400px;
    font-weight: 200;
    font-size: 1.0rem;
    padding-left: 10px;
}
form #btnf{
    color: #fff;
    background-color: #d92950;
    border: 1px solid #d92950;
    border-radius: 0px 10px 10px 0px;
    width: 170px;
    font-weight: 700;
    font-size: 1.0rem;
}

.fgen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15vh;
}
 .blocf1 ul li{
    display: inline-block;
}
